body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: cursive;
  background-image: url(https://media.istockphoto.com/id/530534299/vector/holiday-backgroundfireworks.jpg?s=612x612&w=0&k=20&c=MveMRNfOvZFKTPbUocVZ5xvshbdDJCL9Dfaou3bSWtI=);
  background-size: cover;
  overflow: hidden;
}

h1 {
  color: wheat;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.year {
  font-size: 5rem;
  color: white;
  font-weight: bold;
}

.countdown {
  color: whitesmoke;
  margin: 30px;
  width: 500px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown div {
  margin: 0 15px;
  font-size: 2em;
  font-weight: 500;
  margin-top: -25px;
  position: relative;
  align-items: center;
  width: 100px;
}

.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: .35em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  height: 35px;
}

.countdown #days::before {
  content: "days";
}

.countdown #hour::before {
  content: "hour";
}

.countdown #minute::before {
  content: "minute";
}

.countdown #second::before {
  content: "second";
}





























/* .countdown {
  margin: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  color: whitesmoke;
  height: 120px;
  display: flex;
}

.countdown div {
  margin: 0 15px;
  font-size: 3em;
  font-weight: 500;
  margin-top: -25px;
  position: relative;
}

.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: .35em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  height: 35px;
}

.countdown #month::before {
  content: "month";
}

.countdown #day::before {
  content: "day";
}

.countdown #hour::before {
  content: "hour";
}

.countdown #minute::before {
  content: "minute";
}

.countdown #secound::before {
  content: "secound";
} */